* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Top Banner Section */
.top-banner {
    display: flex;
    background-color: #241e66;
    margin-bottom: 70px;
}

.top-banner:hover img {
    transform: scale(1.5) translateX(-60%);
    width: 700px;
    transition: transform .9s ease;
}

.heading {
    color: white;
    font-size: 64px;
    margin-left: 156px;
    margin-top: 207px;
    margin-right: 102px;
    margin-bottom: 27px;
}

.button {
    background-color: #E02C6D;
    font-size: 16px;
    width: 168px;
    height: 44px;
    margin-left: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 169px;
}

.button a{
    text-decoration: none;
    color: white;
    
}
.banner-right img {
    margin-top: 153px;
    width: 556.01px;
    height: 438px;
}

/* All Player Information */
.player-album {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 180px;
    margin-right: 210px;
    margin-bottom: 70px;
}
.player-article {
    width: 330px;
    padding: 15px;
    background-color: #FFFFFF;
    margin-bottom: 27px;
    margin-right: 30px;
    box-shadow: 0 0 2px gray;
}

.player-image img {
    width: 330px;
    margin-bottom: 16px;
}

.player-name {
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 10px;
}

.player-detail {
    font-size: 16px;
    margin-bottom: 33px;
}

/* Video Gallary */

.video-gallary {
    padding: 40px;
    margin: 100px;
    width: 0 auto;
    box-sizing: border-box;
    box-shadow: 0 0 4px 2px gray;
}

.video-gallary header {
    font-size: 2.5em;
    font-weight: 600;
    margin-left: 25px;
}

.video-gallary hr {
    width: 95%;
    margin: auto; 
    margin-bottom: 30px;
} 

.videos {
    display: flex;
    justify-content: space-around;
}

.video iframe {
    height: 250px;
    width: 350px;
}

/* Contact Section Mutual Part*/

.contact-section {
    background-color: #2c3e50;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.header {
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.info {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

hr {
    margin-bottom: 20px;
    width: 90%;
}

/* Form Section. That modify the form */

form {
    padding: 60px 60px 60px 156px;
}



form label {
    color: white;
    font-size: 20px;

}

form input {
    width: 280px;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
}

form input[placeholder] {
    text-align: center;
}

form button{
    width: 290px;
    height: 45px;
    border-radius: 10px;
    font-size: 24px;
    padding: 8px 0 ;
    background-color: #1abc9c;
}

/* Newsletter Section */

.news-letter {
    margin-top: 60px;
    margin-right: 30px;
}

.wrapper {
    position: relative;
    height: 60px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto 0;
}

.wrapper .btn-1 {
    position: absolute;
    height: 100%;
    width: 50%;
    color: #664AFF;
    background: #fff;
    font-weight: 500;
    font-size: 27px;
    line-height: 60px;
    border-radius: 5px;
    cursor: pointer;
}

#click:checked ~ .btn-1 {
    height: 400px;
    width: 100px;
    opacity: 0;
    pointer-events: none;

}

.wrapper .field {
    position: relative;
    height: 100%;
    width: 0%;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper #click {
    display: none;
}

#click:checked ~ .field {
    opacity: 1;
    width: 1000%;
    pointer-events: auto;
}

.wrapper .field input {
    height: 100%;
    width: 70%;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0 130px 0 15px;
    font-size: 20px;
    outline: none;
}

.wrapper .field .btn-2 {
    position: absolute;
    width: 100px;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background: #664AFF;
    border-radius: 5px;
    line-height: 40px;
    cursor: pointer;  
}

/* Footer Section */


.logo img {
    display: block;
    margin: auto;
    width: 483.87px;
    height: 110px;
    margin-bottom: 20px;
}

.social-icon {
    margin-bottom: 20px;
    text-align: center;
}

.social-icon i {
    height: 32px;
    width: 32px;
    color: black;
    margin-right: 14px;
}

.copyright {
    font-size: 18px;
    text-align: center;
}

/* Responsive for mobile screen */
@media only screen and (max-width:480px) {
    /* Top Banner responsive for mobile  */
    .top-banner {
        flex-direction: column;
        margin-bottom: 47px;
    }

    .heading {
        color: white;
        font-size: 36px;
        margin-left: 40px;
        margin-top: 112px;
        margin-bottom: 30px;
    }

    .button {
        background-color: #E02C6D;
        font-size: 16px;
        width: 168px;
        height: 44px;
        margin-left: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .banner-right img {
        margin-top: 0px;
        width: 329px;
        height: 259.17px;
        display: block;
        margin: auto;
    }

    /* Player section responsive for mobile  */

    .player-album {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: auto;
        margin-left: 40px;
    } 

    .player-image img {
        width: 330px;
        height: 256px;
        margin-bottom: 16px;
    }
    /* Video gallary responsive for mobile */
    .video-gallary {
        margin: 20px;
    }

    .videos {
        flex-direction: column;
        align-items: center;
    }

    .video {
        margin-bottom: 20px;
    }

    .video iframe {
        width: 300px;
        height: 200px;
    }

    /* Contact section responsive for mobile*/
    .contact-section {
        background-color: #2c3e50;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form, .news-letter {
        padding: 10px 10px 10px 40px;
    }

    .wrapper {
        width: 300px;
    }   

    /* Footer section logo size reduce */

    .logo img {
        width: 300px;
    }
}
